* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

.container {
    background-color: burlywood;
    padding: 10px;
    border-radius: 8px;
    width: 305px;
    margin: auto;
    box-shadow: 0px 0px 10px gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

fieldset {
    background-color: burlywood;
    border: solid 3px antiquewhite;
    padding: 10px;
    border-radius: 8px;
}

fieldset legend {
    margin: auto;
    background: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: default;
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 8px;
}

.N1-inputs, .N2-inputs, .N3-inputs, .N4-inputs {
    display: flex;
    flex-wrap: wrap;
}

input {
    width: 48px;
    height: 25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    outline: 0;
    border-radius: 8px;
    background-color: antiquewhite;
}

.add {
    font-size: 23px;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 0px;
    border-radius: 8px;
    background-color: #6c3c0c;
    cursor: pointer;
    color: antiquewhite;
}

.remove {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 0px;
    border-radius: 8px;
    background-color: #6c3c0c;
    cursor: pointer;
    color: antiquewhite;
}

.add, .remove {
    -webkit-tap-highlight-color: transparent;
}

p {
    font-size: 23px;
}

.result {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.button {
    background-color: antiquewhite;
    border: 2px solid #6c3c0c;
    border-radius: 8px;
    padding: 10px;
    width: 120px;
    transition: 0.25s;
}

.button:hover {
    cursor: pointer;
}

.button.selected {
    background-color: #6c3c0c;
    color: antiquewhite;
    scale: 1.025;
}

.button.unselected {
    scale: 0.925;
}

#exibir {
    text-align: center;
    margin: 0 auto;
    width: 150px;
}

#manual {
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

a {
    color: darkblue;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

span {
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    display: block;
}